vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Oct 2017 06:07:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index2.html index.html
vti_author:SR|Travpaws-Main\\Travpaws
vti_modifiedby:SR|Travpaws-Main\\Travpaws
vti_timecreated:TR|15 Oct 2017 06:07:03 -0000
vti_cacheddtm:TX|15 Oct 2017 06:07:03 -0000
vti_filesize:IR|3517
vti_cachedlinkinfo:VX|S|../images/gifts_orange.png S|../images/gifts_blue.png
vti_cachedsvcrellinks:VX|NSUS|images/gifts_orange.png NSUS|images/gifts_blue.png
