vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Oct 2017 01:49:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|formoid.html
vti_author:SR|Travpaws-Main\\Travpaws
vti_modifiedby:SR|Travpaws-Main\\Travpaws
vti_timecreated:TR|15 Oct 2017 01:49:28 -0000
vti_cacheddtm:TX|15 Oct 2017 01:49:28 -0000
vti_filesize:IR|34354
vti_cachedlinkinfo:VX|S|formoid.eot S|formoid.eot S|formoid.ttf S|formoid.woff S|formoid.svg S|icons.eot S|icons.eot S|icons.woff S|icons.ttf S|icons.svg
vti_cachedsvcrellinks:VX|FSUS|formoid_files/formoid1/formoid.eot FSUS|formoid_files/formoid1/formoid.eot FSUS|formoid_files/formoid1/formoid.ttf FSUS|formoid_files/formoid1/formoid.woff FSUS|formoid_files/formoid1/formoid.svg FSUS|formoid_files/formoid1/icons.eot FSUS|formoid_files/formoid1/icons.eot FSUS|formoid_files/formoid1/icons.woff FSUS|formoid_files/formoid1/icons.ttf FSUS|formoid_files/formoid1/icons.svg
